<section class="login-section">
  <h1 class="login-section-header">LOGIN</h1>
  <mat-card class="login-card">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName = "email" placeholder="Email" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName = "password" placeholder="Password" value="">
      </mat-form-field>
      <a href="#" class="forgot-login">Forgot Password?</a>
      <button mat-raised-button color="primary" class="login-button">Login</button>
    </form>
  </mat-card>
</section>
<footer>

</footer>
